{
 "openapi": "3.0.3",
 "info": {
  "version": "1.0.0",
  "title": "Financial Data API",
  "contact": {
   "name": "API Support",
   "url": "http://www.thisisbud.com/support",
   "email": "contact@thisisbud.com"
  },
  "x-logo": {
   "url": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAATAAAABuCAQAAAAKAYdLAAAACXBIWXMAAC4jAAAuIwF4pT92AAAAB3RJTUUH4wQDDggcbXcx7wAABeJJREFUeNrt3W2IFVUcx/HvXRW1VdQedy1bZVfoYX0osVQyfSGElKbRA5oFIaIlhAkWUYm6gvqqDMHMoBeKlhayCCZC2AMRPay7aJrSZmauZhQqaj7t7u1Fi965987s7D1n7pk7/j73zX2Y85//mXt2Zu45Z2ZBREREREREREREREREREREREREREREREREREREREREREREREREROIiZSFGH+YxgsOs5U/X1bFiPDPpQT3bu1DmcaZyg+vErWpjD+s47zoN6Mte0qRJc4Iq18lYMJv2jvosD11mRUeJpD32UO7664BFGQl94DoZY704fbU2rQwKVWYwbc6bQlSPBaYbtMz4K7nP53lpGkK/q8+7MTxUmeEWtmJcGX+j5psmM0I3l9vCirKAV36OuE46QsbfaHL/9opnL9tcpxBf3V0nkAgzWMRj9HadhrH+3Gk7pBqYDZdY3oXfnHE2gc1U2gyoQ6Rk+pKZdgOqgYnXF7TYDGe3gcWgW85QH9cJxMAVm8HsNrBqhhV1U9g33XUCzo1gsM1wdhtYio8ZWsytYdksFrpOwbGhbLYb0PavyLs5wA+c9v28lRa+Zzt/+y5RwwKqaOCdgCjZRvEit/A1a7jou8xwJjOMAb7D+ylqqCmw1imeZ0oCBrv7Mzp+/QofFTDCdZG13Jw3Wi1nOpbZT9+QGUziUkeZ3T49z+P4pqCRuCkhM1jjfMwwqsdG182rsAaWJs0JxuWJ9knGEq+EzODHjDLTcj5NsbjgwehwDazm6vyL5D2MG5i7booKdjE25917M57XhoxUG1hmJUsjrmWtlVl18ZQ2DeCyH6ycT7kpIJ+wuQWVeZJXI69HcpsXHDQN4LajtZIlkcbvzWqn9St1R3nPNIT93wzt/MSZPO+nqKA65699Nos5FdHmgZkMzHnvIj9zLm9+Q7jd0nqP8VtkdSqWNppYxT+u08g+yW8OnKRXw4ac08hnPUscyvjkw5AZXM4os9jzyY6sdZ3h5YC++jLm0lrASf50T5krzEn0QbOLbB8in2FvwKfNPJczCXd0hLV7wPPqL8bybt691//aWWfhkPo2681PjZPDbgP7lYZOl1nNJs9rW4elXD2zfkK8wIFOy2w1XuuWyOpTkuw2sHOhlqrzvIqu59gbuYEdIcqcjSyb65SLX5EHOepgrbuKtJ6nHNQtxtx0U5xM8DoXMkez7K5xM7Tp4iS4WOvszvss5feSP9Fvo5EVnDDfHGJfpd157Y48xFRGmfaEaWcu/qqYZxpCDcxcqR8Mg9xlGkANzNz+BDcx4zEJNTBzv5gPCSeXTvJtmM+3PJqIKdNj6GE3pJsG5mIwOMp1ptnABgd1sq+G7ebnXZncHCKjG3+M1zpLTzMz7AZ00cBG5pmlFb3JmkQTSpPd21HZbWD9Qy21zPPK/zricNH6+B7mvZFreTpEtAFWt0dpsnoWZreBVTG+kyVS1GVN4/vDd9lJVIRY5yzfPdPlrPHHdTwYItr1bkLcTia8M1qPM9F3yRRjcuaYprNmHxzyfNbQyQlnGTM47ynhndFan7WuCywLODz35I2sC9DCXheZHBNpsXvZmu1fkZXs5rjPnPzb8hyAzrIzINr9HOBIwNXat+ZcleS1hame1714izc55jNvbVDBtz7pyWuJuI15P/tnx1F0UwzsQpprO5nil2KIQSZbqcspnwp57+iu2MQT1mMmhNue/MMR3xfwMi8VYRhnmJqXP/MG1lZwyVNMy9l/FR4tf/mdvB553Uz2sXFn+n1YaGCNBZZr5mH25by7xzCb3PKrmM+lgmK1BV4hdc0+2g2zjq8m1wlAOY1dvqXGKep87oZYzUmDW3Vs8+myuIf6Am6AsiT0Nljp/CYl0Twaze9ZaaN3u5w5jAy5L2ylhe/4nAu+S1Qwl+oCsrjCV2wM2KXfwSPUcmPIGv9LPZ91Ye1TEnEb80ztNLE+Dv8MS0RERERERERERERERERERERERERERERERERERERERERERERERERs+Q/rhi5WauEgfQAAAABJRU5ErkJggg=="
  },
  "description": "These endpoints handle the aggregation and retrieval of financial data. They are designed to be generic across a range of ingestion sources and regions.\n"
 },
 "servers": [
  {
   "url": "https://api-sandbox.thisisbud.com",
   "description": "Bud sandbox"
  }
 ],
 "paths": {
  "/financial/v3/accounts": {
   "get": {
    "tags": [
     "Retrieve Financial Data"
    ],
    "summary": "Retrieve Accounts V3",
    "description": "Retrieves a list of a customer's connected accounts. The result can be filtered using the parameters outlined below.\n> 📘 Note: > > For more information on the Account object, please refer to our handy [guide](https://docs.thisisbud.com/docs/accounts).\n",
    "operationId": "financial_v3_accounts_get",
    "security": [
     {
      "OAuth2": []
     }
    ],
    "parameters": [
     {
      "in": "header",
      "name": "X-Client-Id",
      "schema": {
       "type": "string"
      },
      "required": true,
      "description": "The API Client Identifier (Service Application Identifier).",
      "example": "8711bbef-b357-4c2d-97ca-0d9df4206e9a"
     },
     {
      "in": "header",
      "name": "X-Customer-Id",
      "schema": {
       "type": "string",
       "format": "uuid"
      },
      "required": true,
      "description": "A unique identifier for a Customer, as registered on Bud's platform.",
      "example": "c3339af9-2426-44d4-9c4d-ddb8fd281e23"
     },
     {
      "in": "header",
      "name": "X-Customer-Idempotent-Identifier",
      "schema": {
       "type": "string"
      },
      "description": "Use the internal client identifier, provided in the `client_metadata` object when creating the customer in __Create Customer V3__, in place of an `X-Customer-Id` header.\n"
     },
     {
      "in": "header",
      "name": "X-Customer-Secret",
      "schema": {
       "type": "string"
      },
      "required": false,
      "description": "The Bud Customer secret used to encrypt customer data. This is required only if the customer secret is not already stored with Bud."
     },
     {
      "in": "query",
      "name": "currency",
      "schema": {
       "type": "string"
      },
      "example": "GBP",
      "description": "Use this parameter to filter the results returned on the `currency` associated with each result. Multiple values are accepted. If this parameter is not provided then results of any `currency` will be returned."
     },
     {
      "in": "query",
      "name": "provider",
      "schema": {
       "type": "string"
      },
      "example": "BankOfBud",
      "description": "Use this parameter to filter the results returned on the `provider` associated with each result. Multiple values are accepted. If this parameter is not provided then results of any `provider` will be returned."
     },
     {
      "in": "query",
      "name": "account_type",
      "schema": {
       "type": "string"
      },
      "example": "current_account",
      "description": "Use this parameter to filter the results returned on the `account_type` associated with each result. Multiple values are accepted. If this parameter is not provided then results of any `account_type` will be returned.\nCurrently supported values include (but are not necessarily limited to):\n  - `auto_loan`\n  - `boat_loan`\n  - `brokerage`\n  - `business_loan`\n  - `certificate_of_deposit`\n  - `charge_card`\n  - `checking_account`\n  - `credit_card`\n  - `current_account`\n  - `debit_card`\n  - `disability_insurance`\n  - `e_money`\n  - `health_insurance`\n  - `home_equity_loan`\n  - `insurance`\n  - `investment`\n  - `ira`\n  - `liability_insurance`\n  - `life_insurance`\n  - `line_of_credit`\n  - `loan`\n  - `money_market`\n  - `mortgage`\n  - `other`\n  - `personal_loan`\n  - `pre_paid_card`\n  - `property_insurance`\n  - `roth`\n  - `rv_loan`\n  - `safe_deposit_box`\n  - `savings`\n  - `student_loan`\n  - `travel_insurance`\n  - `vehicle_insurance`\n  - `wealth_account`\n"
     },
     {
      "in": "query",
      "name": "usage_type",
      "schema": {
       "type": "string"
      },
      "example": "personal",
      "description": "Use this parameter to filter the results returned on the `usage_type` associated with each result. Multiple values are accepted. If this parameter is not provided then results of any `usage_type` will be returned.\nCurrently supported values include (but are not necessarily limited to):\n  - `personal`\n  - `business`\n"
     },
     {
      "in": "query",
      "name": "holder_relationship_type",
      "schema": {
       "type": "string"
      },
      "example": "joint",
      "description": "Use this parameter to filter the results returned on the `holder_relationship_type` associated with each result. Multiple values are accepted. If this parameter is not provided then results of any `holder_relationship_type` will be returned.\nCurrently supported values include (but are not necessarily limited to):\n  - `sole`\n  - `joint`\n  - `delegate`\n  - `unknown`\n"
     },
     {
      "in": "query",
      "name": "include_all_balances",
      "schema": {
       "type": "boolean"
      },
      "example": true,
      "description": "Use this parameter to include all balances associated with each account. If this parameter is not provided then only the pending and booked balance will be returned where available.\n"
     },
     {
      "in": "query",
      "name": "exclude_restricted",
      "schema": {
       "type": "boolean"
      },
      "example": true,
      "description": "Exclude accounts with a `restriction` of `restricted`."
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "title": "Retrieve Accounts Response",
         "type": "object",
         "required": [
          "operation_id",
          "data",
          "metadata"
         ],
         "properties": {
          "operation_id": {
           "type": "string",
           "enum": [
            "financial_v3_accounts_get"
           ]
          },
          "data": {
           "type": "array",
           "items": {
            "$ref": "#/paths/~1financial~1v3~1accounts~1{account_id}/get/responses/200/content/application~1json/schema/properties/data"
           }
          },
          "metadata": {
           "type": "object",
           "required": [
            "parameters",
            "results"
           ],
           "properties": {
            "parameters": {
             "type": "object",
             "properties": {
              "currencies": {
               "description": "The Currency values supplied in the request to generate the given result set.",
               "type": "array",
               "items": {
                "title": "Currency",
                "description": "The three-letter [ISO currency code](https://www.iso.org/iso-4217-currency-codes.html) of the monetary amount.\n\nExample: `GBP`\n",
                "type": "string"
               }
              },
              "account_types": {
               "description": "The Account Type values supplied in the request to generate the given result set.\n\nCurrently supported values include (but are not necessarily limited to):\n  - `charge_card`\n  - `credit_card`\n  - `current_account`\n  - `e_money`\n  - `investment`\n  - `loan`\n  - `mortgage`\n  - `other`\n  - `pre_paid_card`\n  - `savings`\n",
               "type": "array",
               "items": {
                "type": "string"
               }
              },
              "usage_types": {
               "description": "The Usage Type values supplied in the request to generate the given result set.\n\nCurrently supported values include (but are not necessarily limited to):\n  - `personal`\n  - `business`\n",
               "type": "array",
               "items": {
                "type": "string"
               }
              },
              "holder_types": {
               "description": "The Holder Type values supplied in the request to generate the given result set.\n\nCurrently supported values include (but are not necessarily limited to):\n  - `sole`\n  - `joint`\n  - `delegate`\n  - `unknown`\n",
               "type": "array",
               "items": {
                "type": "string"
               }
              },
              "providers": {
               "description": "The Provider values supplied in the request to generate the given result set.",
               "type": "array",
               "items": {
                "type": "string"
               }
              },
              "include_all_balances": {
               "type": "boolean",
               "description": "All balances and credit lines stored for the accounts are returned"
              }
             }
            },
            "results": {
             "type": "number",
             "description": "The number of accounts returned in the results"
            }
           }
          }
         }
        },
        "examples": {
         "Account": {
          "value": {
           "operation_id": "financial_v3_accounts_get",
           "data": [
            {
             "account_id": "RxsYshVGded4JeilkXgWKdXA",
             "currency": "GBP",
             "holders": [
              {
               "name": "David Smith",
               "relationship": "unknown"
              }
             ],
             "account_name": "My Current Account",
             "suggested_name": "My Current Account",
             "account_type": "current_account",
             "usage_type": "personal",
             "account_category": "depository",
             "provider": "BankOfBud",
             "provider_display_name": "Bank Of Bud",
             "provider_logo": "https://assets.thisisbud.com/merchants/BankOfBud.png",
             "opening_date_time": "2019-10-01T00:00:00Z",
             "identifiers": {
              "uk_sort_code": "126432",
              "uk_account_number": "31510604"
             },
             "balances": {
              "booked": {
               "date": "2023-01-12T00:00:00Z",
               "amount": {
                "value": "3552.61",
                "currency": "GBP"
               },
               "credit_debit_indicator": "credit"
              },
              "pending": {
               "date": "2023-01-12T00:00:00Z",
               "amount": {
                "value": "3552.61",
                "currency": "GBP"
               },
               "credit_debit_indicator": "credit"
              }
             },
             "credit_lines": {
              "limit": {
               "date": "2023-01-12T00:00:00Z",
               "amount": {
                "value": "1000.00",
                "currency": "GBP"
               }
              }
             }
            },
            {
             "account_id": "97282bfc-84a5-44f6-9a3e-399903f92f7a",
             "currency": "GBP",
             "holders": [
              {
               "name": "Sarah Jones",
               "relationship": "unknown"
              }
             ],
             "suggested_name": "Current Account 0603",
             "account_type": "current_account",
             "usage_type": "personal",
             "account_category": "depository",
             "status": "closed",
             "closed_at": "2023-01-11T00:00:00Z",
             "provider": "BankOfBud",
             "provider_display_name": "Bank Of Bud",
             "provider_logo": "https://assets.thisisbud.com/merchants/BankOfBud.png",
             "identifiers": {
              "uk_sort_code": "126433",
              "uk_account_number": "21510603"
             },
             "balances": {
              "booked": {
               "date": "2023-01-11T00:00:00Z",
               "amount": {
                "value": "2552.61",
                "currency": "GBP"
               },
               "credit_debit_indicator": "credit"
              },
              "pending": {
               "date": "2023-01-11T00:00:00Z",
               "amount": {
                "value": "2552.61",
                "currency": "GBP"
               },
               "credit_debit_indicator": "credit"
              }
             },
             "credit_lines": {
              "limit": {
               "date": "2023-01-11T00:00:00Z",
               "amount": {
                "value": "1000.00",
                "currency": "GBP"
               }
              }
             }
            }
           ],
           "metadata": {
            "parameters": {
             "currencies": [
              "GBP"
             ]
            },
            "results": 2
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "The request contains an invalid payload.",
      "content": {
       "application/json": {
        "schema": {
         "title": "Bad Request Response",
         "type": "object",
         "description": "Expected response structure",
         "required": [
          "operation_id",
          "code_id",
          "message",
          "errors"
         ],
         "properties": {
          "operation_id": {
           "title": "Operation Id Field",
           "type": "string",
           "description": "A unique identifier/reference associated with a given endpoint/operation"
          },
          "code_id": {
           "type": "string",
           "description": "A descriptive enough string that is linked to the reason for the error."
          },
          "message": {
           "type": "string"
          },
          "errors": {
           "anyOf": [
            {
             "title": "Error Object",
             "type": "object",
             "nullable": true,
             "description": "Contains a field specific error message",
             "additionalProperties": {
              "type": "string"
             }
            },
            {
             "title": "Array of Error Object",
             "description": "Contains a list of error messages",
             "type": "object",
             "additionalProperties": {
              "type": "array",
              "items": {
               "type": "string"
              }
             }
            }
           ]
          }
         }
        },
        "examples": {
         "CustomerID Not Sent": {
          "value": {
           "operation_id": "financial_v3_accounts_get",
           "code_id": "failed_validation",
           "message": "Invalid request payload.",
           "errors": {
            "X-Customer-Id": "not present"
           }
          }
         },
         "CustomerID and CustomerSecret Not Sent": {
          "value": {
           "operation_id": "financial_v3_accounts_get",
           "code_id": "failed_validation",
           "message": "Invalid request payload.",
           "errors": {
            "X-Customer-Id": [
             "not present"
            ],
            "X-Customer-Secret": [
             "not present"
            ]
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorised",
      "content": {
       "application/json": {
        "schema": {
         "title": "Server Error Response",
         "type": "object",
         "required": [
          "operation_id",
          "code_id",
          "message"
         ],
         "properties": {
          "operation_id": {
           "$ref": "#/paths/~1financial~1v3~1accounts/get/responses/400/content/application~1json/schema/properties/operation_id"
          },
          "code_id": {
           "type": "string",
           "description": "A descriptive enough string that is linked to the reason for the error."
          },
          "message": {
           "type": "string",
           "description": "An actual user friendly error message."
          },
          "errors": {
           "anyOf": [
            {
             "$ref": "#/paths/~1financial~1v3~1accounts/get/responses/400/content/application~1json/schema/properties/errors/anyOf/0"
            },
            {
             "$ref": "#/paths/~1financial~1v3~1accounts/get/responses/400/content/application~1json/schema/properties/errors/anyOf/1"
            }
           ]
          }
         }
        },
        "example": {
         "operation_id": "unknown",
         "code_id": "unknown",
         "message": "Unauthorised request"
        }
       }
      }
     },
     "500": {
      "description": "Server Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/paths/~1financial~1v3~1accounts/get/responses/401/content/application~1json/schema"
        },
        "example": {
         "operation_id": "unknown",
         "code_id": "unknown",
         "message": "An error occurred while processing your request. Get in touch with us and provide us your request id: 7ef63242-ba6d-4661-8014-f9eaa9cb2ad8"
        }
       }
      }
     }
    }
   }
  },
  "/corrections/v2/categories": {
   "post": {
    "tags": [
     "Correct Financial Data"
    ],
    "summary": "Correct Transaction Categories V2",
    "description": "Allow a customer to change a transaction’s (and similar transactions') category and/or subcategory.\nIf `include_similar` is set to `true`, then all previous and future transactions (i.e. those that are yet to happen yet) that are similar in nature to the specified transaction id will be corrected with the provided category and/or subcategory.\nSimilar transactions are determined based on transactions with similar descriptions & amounts.\n",
    "operationId": "corrections_v2_categories_post",
    "security": [
     {
      "OAuth2": []
     }
    ],
    "parameters": [
     {
      "$ref": "#/paths/~1financial~1v3~1accounts/get/parameters/0"
     },
     {
      "$ref": "#/paths/~1financial~1v3~1accounts/get/parameters/1"
     },
     {
      "$ref": "#/paths/~1financial~1v3~1accounts/get/parameters/2"
     },
     {
      "$ref": "#/paths/~1financial~1v3~1accounts/get/parameters/3"
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "title": "Customer Category Corrections Request Payload",
        "type": "array",
        "description": "Expected request structure for the category corrections endpoint",
        "items": {
         "title": "Customer Category Correction",
         "type": "object",
         "description": "Expected request structure for the category corrections endpoint",
         "required": [
          "transaction_id"
         ],
         "properties": {
          "transaction_id": {
           "type": "string",
           "description": "The unique identifier for the transaction"
          },
          "category_l1": {
           "type": "string",
           "description": "The name of the category that the transaction should be assigned"
          },
          "category_l2": {
           "type": "string",
           "description": "The name of the subcategory that the transaction should be assigned"
          },
          "include_similar": {
           "type": "boolean",
           "description": "Correct the category of other similar transactions to the specified transaction",
           "default": false
          }
         }
        }
       },
       "example": [
        {
         "transaction_id": "7affc586-5600-4434-ac5f-1a845260d7d9",
         "category_l1": "food_and_drink",
         "category_l2": "coffee",
         "include_similar": false
        }
       ]
      }
     }
    },
    "responses": {
     "200": {
      "description": "The request was successfully processed",
      "content": {
       "application/json": {
        "schema": {
         "title": "Customer Category Corrections Response",
         "type": "object",
         "description": "Expected response structure for the category corrections endpoint",
         "required": [
          "operation_id",
          "data",
          "metadata"
         ],
         "properties": {
          "operation_id": {
           "$ref": "#/paths/~1financial~1v3~1accounts/get/responses/400/content/application~1json/schema/properties/operation_id"
          },
          "data": {
           "type": "array",
           "items": {
            "$ref": "#/paths/~1corrections~1v2~1categories/post/requestBody/content/application~1json/schema/items"
           }
          },
          "metadata": {
           "title": "Results Metadata Object",
           "type": "object",
           "description": "Metadata associated with the response schema",
           "properties": {
            "results": {
             "type": "number",
             "description": "The number of category correction rules created"
            }
           }
          }
         }
        },
        "example": {
         "operation_id": "corrections_v2_categories_post",
         "data": [
          {
           "transaction_id": "7affc586-5600-4434-ac5f-1a845260d7d9",
           "category_l1": "food_and_drink",
           "category_l2": "coffee",
           "include_similar": false
          }
         ],
         "metadata": {
          "results": 1
         }
        }
       }
      }
     },
     "400": {
      "description": "The request contains an invalid payload.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/paths/~1financial~1v3~1accounts/get/responses/400/content/application~1json/schema"
        },
        "example": {
         "operation_id": "corrections_v2_categories_post",
         "code_id": "validation_error",
         "message": "Bad request payload",
         "errors": {
          "X-Client-ID": "This value should not be blank"
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorised request"
     },
     "405": {
      "description": "An unexpected HTTP method was used"
     },
     "5XX": {
      "description": "An unexpected error occurred on the server side"
     }
    }
   }
  },
  "/corrections/v2/custom-merchants": {
   "get": {
    "tags": [
     "Correct Financial Data"
    ],
    "summary": "Fetch custom merchants for customer",
    "description": "Retrieves custom merchants for a given customer\n",
    "operationId": "corrections_v2_custom_merchants_get",
    "security": [
     {
      "OAuth2": []
     }
    ],
    "parameters": [
     {
      "$ref": "#/paths/~1financial~1v3~1accounts/get/parameters/0"
     },
     {
      "$ref": "#/paths/~1financial~1v3~1accounts/get/parameters/1"
     },
     {
      "$ref": "#/paths/~1financial~1v3~1accounts/get/parameters/2"
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "required": [
          "operation_id",
          "data"
         ],
         "properties": {
          "operation_id": {
           "type": "string",
           "enum": [
            "corrections_v2_custom_merchants_get"
           ]
          },
          "data": {
           "type": "array",
           "items": {
            "title": "Custom Merchant",
            "description": "Custom Merchant Object",
            "type": "object",
            "required": [
             "custom_merchant_id",
             "name",
             "suggested_url",
             "online_or_billing_only",
             "created_at"
            ],
            "properties": {
             "custom_merchant_id": {
              "format": "uuid",
              "type": "string",
              "description": "UUID representing the custom merchant."
             },
             "name": {
              "type": "string",
              "description": "Provided name for the custom merchant."
             },
             "suggested_url": {
              "type": "string",
              "description": "Provided URL for the custom merchant"
             },
             "online_or_billing_only": {
              "type": "boolean",
              "description": "Provided online or billing only identifier for the custom merchant."
             },
             "created_at": {
              "type": "string",
              "description": "Date that the custom merchant was created, compliant with RFC3339."
             }
            }
           }
          }
         }
        },
        "example": {
         "operation_id": "corrections_v2_custom_merchants_get",
         "data": [
          {
           "custom_merchant_id": "43297d36-2d86-460f-832c-c384f319af64",
           "name": "Krystian Wines",
           "suggested_url": "https://www.example.com/",
           "online_or_billing_only": false,
           "created_at": "2024-11-14T12:15:52Z"
          }
         ]
        }
       }
      }
     },
     "400": {
      "description": "The request contains an invalid payload.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/paths/~1financial~1v3~1accounts/get/responses/400/content/application~1json/schema"
        },
        "example": {
         "operation_id": "corrections_v2_custom_merchants_get",
         "code_id": "failed_validation",
         "message": "validation failed",
         "errors": {
          "validation_errors": [
           "X-Customer-ID header must be valid UUID"
          ]
         }
        }
       }
      }
     },
     "5XX": {
      "description": "An unexpected error occurred on the server side"
     }
    }
   },
   "post": {
    "tags": [
     "Correct Financial Data"
    ],
    "summary": "Create a new custom merchant",
    "description": "Creates a new custom merchant for use in the merchant corrections flow.\n",
    "operationId": "corrections_v2_custom_merchants_post",
    "security": [
     {
      "OAuth2": []
     }
    ],
    "parameters": [
     {
      "$ref": "#/paths/~1financial~1v3~1accounts/get/parameters/0"
     },
     {
      "$ref": "#/paths/~1financial~1v3~1accounts/get/parameters/1"
     },
     {
      "$ref": "#/paths/~1financial~1v3~1accounts/get/parameters/2"
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "title": "Custom Merchant Request",
        "type": "object",
        "required": [
         "name"
        ],
        "properties": {
         "name": {
          "type": "string",
          "description": "The display name of the custom merchant to be created",
          "example": "Krystian Wines"
         },
         "suggested_url": {
          "type": "string",
          "description": "A suggested URL for the merchant, to help bud identify it and expand our merchant database.",
          "example": "https://www.example.com"
         },
         "online_or_billing_only": {
          "type": "boolean",
          "description": "This is used to indicate if the custom merchant being created is an exclusively online or billing merchant.",
          "example": false
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "required": [
          "operation_id",
          "data"
         ],
         "properties": {
          "operation_id": {
           "type": "string",
           "enum": [
            "corrections_v2_custom_merchants_post"
           ]
          },
          "data": {
           "type": "object",
           "required": [
            "custom_merchant_id"
           ],
           "properties": {
            "custom_merchant_id": {
             "type": "string",
             "format": "uuid"
            }
           }
          }
         },
         "example": {
          "operation_id": "corrections_v2_custom_merchants_post",
          "data": {
           "custom_merchant_id": "43730d83-479b-4125-8853-0276fa8c45a1"
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "The request contains an invalid payload.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/paths/~1financial~1v3~1accounts/get/responses/400/content/application~1json/schema"
        },
        "example": {
         "operation_id": "corrections_v2_custom_merchants_post",
         "code_id": "failed_validation",
         "message": "validation failed",
         "errors": {
          "validation_errors": [
           "name cannot be empty"
          ]
         }
        }
       }
      }
     },
     "5XX": {
      "description": "An unexpected error occurred on the server side"
     }
    }
   }
  },
  "/corrections/v2/merchant-feedback/merchant/{merchant_id}": {
   "post": {
    "tags": [
     "Correct Financial Data"
    ],
    "summary": "Suggests changes to a merchant",
    "description": "Records feedback we can use to improve our merchant database.\n",
    "operationId": "corrections_v2_merchant_feedback_post",
    "security": [
     {
      "OAuth2": []
     }
    ],
    "parameters": [
     {
      "$ref": "#/paths/~1financial~1v3~1accounts/get/parameters/0"
     },
     {
      "name": "merchant_id",
      "in": "path",
      "required": true,
      "description": "The ID of the merchant to submit feedback for.",
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "title": "Merchant Feedback Request",
        "type": "object",
        "required": [
         "logo_feedback"
        ],
        "properties": {
         "logo_feedback": {
          "type": "string",
          "description": "The type of feedback for the merchant.",
          "enum": [
           "missing_logo",
           "wrong_logo",
           "low_quality_logo",
           "out_of_date_logo"
          ]
         },
         "suggested_logo": {
          "type": "string"
         },
         "suggested_url": {
          "type": "string"
         }
        }
       }
      }
     }
    },
    "responses": {
     "202": {
      "description": "Accepted",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "required": [
          "operation_id",
          "data"
         ],
         "properties": {
          "operation_id": {
           "type": "string",
           "enum": [
            "corrections_v2_merchant_feedback_post"
           ]
          },
          "data": {
           "title": "Merchant Feedback Response",
           "type": "object",
           "required": [
            "merchant_id",
            "logo_feedback"
           ],
           "properties": {
            "merchant_id": {
             "type": "string",
             "description": "The merchant the feedback has been created for."
            },
            "logo_feedback": {
             "type": "string",
             "description": "The type of feedback for the merchant.",
             "enum": [
              "missing_logo",
              "wrong_logo",
              "low_quality_logo",
              "out_of_date_logo"
             ]
            },
            "suggested_logo": {
             "type": "string"
            },
            "suggested_url": {
             "type": "string"
            }
           }
          }
         },
         "example": {
          "operation_id": "corrections_v2_merchant_feedback_post",
          "data": {
           "merchant_id": "a8f0ec99-ed01-4ba2-a4ad-8d0275f15158",
           "logo_feedback": "missing_logo"
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "The request contains an invalid payload.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/paths/~1financial~1v3~1accounts/get/responses/400/content/application~1json/schema"
        },
        "example": {
         "operation_id": "corrections_v2_merchant_feedback_post",
         "code_id": "failed_validation",
         "message": "validation failed",
         "errors": {
          "validation_errors": [
           "$.logo_feedback must be valid enum"
          ]
         }
        }
       }
      }
     },
     "404": {
      "description": "The merchant was not found",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/paths/~1corrections~1v3~1rules~1{rule_id}/get/responses/404/content/application~1json/schema"
        },
        "example": {
         "operation_id": "unknown",
         "code_id": "unknown",
         "message": "Route or resource not found",
         "errors": {}
        }
       }
      }
     },
     "5XX": {
      "description": "An unexpected error occurred on the server side"
     }
    }
   }
  },
  "/corrections/v3/rules/{rule_id}": {
   "get": {
    "tags": [
     "Correct Financial Data"
    ],
    "summary": "Retrieve Correction Rule",
    "description": "Retrieve a single regularity or similarity correction rule belonging to the requesting customer, by its rule id.\nThere is intentionally no endpoint to list all rules.\n",
    "operationId": "corrections_v3_rules_rule_id_get",
    "security": [
     {
      "OAuth2": []
     }
    ],
    "parameters": [
     {
      "$ref": "#/paths/~1financial~1v3~1accounts/get/parameters/0"
     },
     {
      "$ref": "#/paths/~1financial~1v3~1accounts/get/parameters/1"
     },
     {
      "$ref": "#/paths/~1financial~1v3~1accounts/get/parameters/2"
     },
     {
      "name": "rule_id",
      "in": "path",
      "required": true,
      "description": "The unique identifier of the correction rule.",
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "The request was successfully processed",
      "content": {
       "application/json": {
        "schema": {
         "title": "V3 Rule Response",
         "type": "object",
         "description": "Expected response structure for the get rule endpoint",
         "required": [
          "operation_id",
          "data"
         ],
         "properties": {
          "operation_id": {
           "$ref": "#/paths/~1financial~1v3~1accounts/get/responses/400/content/application~1json/schema/properties/operation_id"
          },
          "data": {
           "type": "object",
           "required": [
            "rule_type",
            "rule_definition"
           ],
           "properties": {
            "rule_type": {
             "type": "string",
             "description": "The type of correction rule",
             "enum": [
              "regularity_correction",
              "regularity_end",
              "transactions_relative_similar",
              "transactions_similar",
              "transactions_unsimilar"
             ]
            },
            "rule_definition": {
             "type": "object",
             "description": "The definition of the rule, mirroring the request body that created it."
            }
           }
          }
         }
        },
        "examples": {
         "Regularity Correction": {
          "value": {
           "operation_id": "corrections_v3_rules_rule_id_get",
           "data": {
            "rule_type": "regularity_correction",
            "rule_definition": {
             "transaction_id": "f7bcefff-248e-4485-9aed-3ed45462255e",
             "include_similar": true,
             "frequency": "biweekly"
            }
           }
          }
         },
         "Regularity End": {
          "value": {
           "operation_id": "corrections_v3_rules_rule_id_get",
           "data": {
            "rule_type": "regularity_end",
            "rule_definition": {
             "transaction_id": "f7bcefff-248e-4485-9aed-3ed45462255e"
            }
           }
          }
         },
         "Similarity Correction": {
          "value": {
           "operation_id": "corrections_v3_rules_rule_id_get",
           "data": {
            "rule_type": "transactions_similar",
            "rule_definition": {
             "similar": true,
             "transaction_ids": [
              "f7bcefff-248e-4485-9aed-3ed45462255e",
              "727b42bc-2e2e-4a8b-8f0e-6d0a6f5a9f1a",
              "46a5f30a-9b7f-4e2a-9f7d-2a3a5b6c7d8e"
             ]
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "The request contains an invalid payload.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/paths/~1financial~1v3~1accounts/get/responses/400/content/application~1json/schema"
        },
        "example": {
         "operation_id": "corrections_v3_rules_rule_id_get",
         "code_id": "validation_error",
         "message": "Bad request payload",
         "errors": {
          "rule_id": "This value should not be blank"
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorised request"
     },
     "404": {
      "description": "The rule was not found",
      "content": {
       "application/json": {
        "schema": {
         "title": "Bad Request Not Found Response",
         "type": "object",
         "required": [
          "operation_id",
          "code_id",
          "message"
         ],
         "properties": {
          "operation_id": {
           "$ref": "#/paths/~1financial~1v3~1accounts/get/responses/400/content/application~1json/schema/properties/operation_id"
          },
          "code_id": {
           "type": "string",
           "description": "A descriptive enough string that is linked to the reason for the error."
          },
          "message": {
           "type": "string",
           "description": "An actual user friendly error message."
          }
         }
        },
        "example": {
         "operation_id": "unknown",
         "code_id": "unknown",
         "message": "Route or resource not found",
         "errors": {}
        }
       }
      }
     },
     "405": {
      "description": "An unexpected HTTP method was used"
     },
     "5XX": {
      "description": "An unexpected error occurred on the server side"
     }
    }
   },
   "delete": {
    "tags": [
     "Correct Financial Data"
    ],
    "summary": "Delete Correction Rule",
    "description": "Delete a regularity or similarity correction rule. This reverts the correction and triggers re-enrichment of the affected transactions back to Bud's model value, which may take up to ~60 seconds to complete.\n",
    "operationId": "corrections_v3_rules_rule_id_delete",
    "security": [
     {
      "OAuth2": []
     }
    ],
    "parameters": [
     {
      "$ref": "#/paths/~1financial~1v3~1accounts/get/parameters/0"
     },
     {
      "$ref": "#/paths/~1financial~1v3~1accounts/get/parameters/1"
     },
     {
      "$ref": "#/paths/~1financial~1v3~1accounts/get/parameters/2"
     },
     {
      "name": "rule_id",
      "in": "path",
      "required": true,
      "description": "The unique identifier of the correction rule.",
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "204": {
      "description": "The rule was successfully deleted."
     },
     "400": {
      "description": "The request contains an invalid payload.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/paths/~1financial~1v3~1accounts/get/responses/400/content/application~1json/schema"
        },
        "example": {
         "operation_id": "corrections_v3_rules_rule_id_delete",
         "code_id": "validation_error",
         "message": "Bad request payload",
         "errors": {
          "rule_id": "This value should not be blank"
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorised request"
     },
     "404": {
      "description": "The rule was not found",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/paths/~1corrections~1v3~1rules~1{rule_id}/get/responses/404/content/application~1json/schema"
        },
        "example": {
         "operation_id": "unknown",
         "code_id": "unknown",
         "message": "Route or resource not found",
         "errors": {}
        }
       }
      }
     },
     "405": {
      "description": "An unexpected HTTP method was used"
     },
     "5XX": {
      "description": "An unexpected error occurred on the server side"
     }
    }
   }
  },
  "/corrections/v2/merchants/search/{merchant_query}": {
   "get": {
    "tags": [
     "Correct Financial Data"
    ],
    "summary": "Correction Merchant Search",
    "description": "Allows a customer to find a merchant to be used for a correction.\n",
    "operationId": "corrections_v2_merchant_search_get",
    "security": [
     {
      "OAuth2": []
     }
    ],
    "parameters": [
     {
      "$ref": "#/paths/~1financial~1v3~1accounts/get/parameters/0"
     },
     {
      "$ref": "#/paths/~1financial~1v3~1accounts/get/parameters/1"
     },
     {
      "$ref": "#/paths/~1financial~1v3~1accounts/get/parameters/2"
     },
     {
      "in": "path",
      "name": "merchant_query",
      "schema": {
       "type": "string",
       "minLength": 3
      },
      "required": true,
      "description": "Merchant Name Query"
     }
    ],
    "responses": {
     "200": {
      "description": "The request was successfully processed",
      "content": {
       "application/json": {
        "schema": {
         "title": "Customer Merchant Correction Search Response",
         "type": "object",
         "description": "Expected response structure for the merchant corrections search endpoint",
         "required": [
          "operation_id",
          "data",
          "metadata"
         ],
         "properties": {
          "operation_id": {
           "$ref": "#/paths/~1financial~1v3~1accounts/get/responses/400/content/application~1json/schema/properties/operation_id"
          },
          "data": {
           "title": "Customer Merchant Corrections Request Payload",
           "type": "array",
           "description": "List of merchant that matched the query. Best match first",
           "items": {
            "type": "object",
            "required": [
             "id",
             "display_name",
             "slug",
             "logo"
            ],
            "properties": {
             "id": {
              "type": "string",
              "format": "uuid",
              "description": "UUID corresponding to the merchant, if available. Subject to version control."
             },
             "display_name": {
              "type": "string",
              "description": "UI friendly display name for the merchant."
             },
             "slug": {
              "type": "string",
              "description": "Unique human readable identifier of the merchant. Not subject to version control."
             },
             "logo": {
              "type": "string",
              "description": "A url to the merchant logo. If not available a placeholder is used"
             },
             "website": {
              "type": "string",
              "description": "URL supplying merchant website, if available."
             }
            }
           }
          },
          "metadata": {
           "title": "Customer Merchant Corrections Search Response Metadata",
           "type": "object",
           "required": [
            "query",
            "results"
           ],
           "properties": {
            "query": {
             "type": "string",
             "description": "Query used in the request"
            },
            "results": {
             "type": "number",
             "description": "Number of results returned"
            }
           }
          }
         }
        },
        "example": {
         "operation_id": "corrections_v2_merchant_search_get",
         "data": [
          {
           "id": "f2b21ff7-836d-468c-8928-e81060d49988",
           "display_name": "Apple",
           "slug": "apple",
           "logo": "https://assets.thisisbud.com/datasci-images/merchant_logos/f2b21ff7-836d-468c-8928-e81060d49988/v1/apple.jpeg",
           "website": "https://www.apple.com"
          },
          {
           "id": "a3240c82-728d-4d63-b1b8-9569cae844e8",
           "display_name": "Tappily",
           "slug": "tappily",
           "logo": "https://assets.thisisbud.com/datasci-images/merchant_logos/a3240c82-728d-4d63-b1b8-9569cae844e8/v1/tappily.jpeg",
           "website": "https://www.tappily.co.uk"
          },
          {
           "id": "bbf422fd-0db3-4988-a037-36476f6bd774",
           "display_name": "Zapp",
           "slug": "zapp",
           "logo": "https://assets.thisisbud.com/datasci-images/merchant_logos/bbf422fd-0db3-4988-a037-36476f6bd774/v1/zapp.jpeg",
           "website": "https://tryzapp.com"
          },
          {
           "id": "b97244e4-c1bf-4c70-a529-e250fc5baf39",
           "display_name": "WAPPA LTD",
           "slug": "wappaltd",
           "logo": "https://assets.thisisbud.com/bud-datasci-images/merchant_logo_placeholder.png"
          },
          {
           "id": "2270343a-110d-4554-8871-33f2e18f8311",
           "display_name": "Apple Pay",
           "slug": "applepay",
           "logo": "https://assets.thisisbud.com/datasci-images/merchant_logos/2270343a-110d-4554-8871-33f2e18f8311/v2/applepay.jpeg",
           "website": "https://www.apple.com"
          }
         ],
         "metadata": {
          "query": "appl",
          "results": 5
         }
        }
       }
      }
     },
     "400": {
      "description": "The request contains an invalid payload.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/paths/~1financial~1v3~1accounts/get/responses/400/content/application~1json/schema"
        },
        "examples": {
         "Invalid Query Size": {
          "summary": "query size to small",
          "value": {
           "operation_id": "corrections_v2_merchant_search_get",
           "code_id": "failed_validation",
           "message": "invalid search query size",
           "errors": {}
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorised request"
     },
     "405": {
      "description": "An unexpected HTTP method was used"
     },
     "429": {
      "description": "Too many requests",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/paths/~1financial~1v3~1accounts/get/responses/400/content/application~1json/schema"
        },
        "examples": {
         "Too Many Requests": {
          "summary": "making too many requests to endpoint",
          "value": {
           "operation_id": "unknown",
           "code_id": "unknown",
           "message": "Too many requests",
           "errors": {}
          }
         }
        }
       }
      }
     },
     "5XX": {
      "description": "An unexpected error occurred on the server side"
     }
    }
   }
  },
  "/corrections/v2/merchants": {
   "post": {
    "tags": [
     "Correct Financial Data"
    ],
    "summary": "Correct Transaction Merchant",
    "description": "Allow a customer to change a transaction’s (and similar transactions') merchant.\nIf `include_similar` is set to `true`, then all previous and future transactions (i.e. those that are yet to happen yet) that are similar in nature to the specified transaction id will be corrected with the provided merchant.\nSimilar transactions are determined based on transactions with similar descriptions & amounts.\n",
    "operationId": "corrections_v2_merchants_post",
    "security": [
     {
      "OAuth2": []
     }
    ],
    "parameters": [
     {
      "$ref": "#/paths/~1financial~1v3~1accounts/get/parameters/0"
     },
     {
      "$ref": "#/paths/~1financial~1v3~1accounts/get/parameters/1"
     },
     {
      "$ref": "#/paths/~1financial~1v3~1accounts/get/parameters/2"
     },
     {
      "$ref": "#/paths/~1financial~1v3~1accounts/get/parameters/3"
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "title": "Customer Merchant Corrections Request Payload",
        "type": "array",
        "description": "Expected request structure for the merchant corrections endpoint",
        "items": {
         "title": "Customer Merchant Correction",
         "type": "object",
         "description": "Expected request structure for the merchant corrections endpoint",
         "required": [
          "transactions"
         ],
         "properties": {
          "transactions": {
           "type": "array",
           "minItems": 1,
           "items": {
            "type": "string"
           },
           "description": "A list of transaction identifiers to be corrected"
          },
          "merchant_id": {
           "type": "string",
           "description": "The identifier of the merchant that the transactions should be assigned\n\nTo remove a merchant instead of replacing it, leave this value blank\n"
          },
          "include_similar": {
           "type": "boolean",
           "description": "Correct the merchant of other similar transactions to the specified transactions",
           "default": false
          }
         }
        }
       },
       "examples": {
        "Single Transaction Correction": {
         "value": [
          {
           "transactions": [
            "7affc586-5600-4434-ac5f-1a845260d7d9"
           ],
           "merchant_id": "f2b21ff7-836d-468c-8928-e81060d49988",
           "include_similar": false
          }
         ]
        },
        "Similar Transactions Correction": {
         "value": [
          {
           "transactions": [
            "7affc586-5600-4434-ac5f-1a845260d7d9"
           ],
           "merchant_id": "f2b21ff7-836d-468c-8928-e81060d49988",
           "include_similar": true
          }
         ]
        },
        "Remove Merchant From Single Transaction": {
         "value": [
          {
           "transactions": [
            "7affc586-5600-4434-ac5f-1a845260d7d9"
           ],
           "merchant_id": "",
           "include_similar": false
          }
         ]
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "The request was successfully processed",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/CustomerMerchantCorrectionResponse"
        },
        "examples": {
         "Single Transaction Correction": {
          "value": {
           "operation_id": "corrections_v2_merchants_post",
           "data": [
            {
             "transaction_id": "7affc586-5600-4434-ac5f-1a845260d7d9",
             "account_id": "5bd9ecaf31fc2d5172fd89cb61b89fc6",
             "provider": "BankOfBud",
             "description": "paypal* specialty coffee",
             "credit_debit_indicator": "debit",
             "status": "booked",
             "suggested_description": "Pact Coffee",
             "suggested_logo": "https://assets.thisisbud.com/datasci-images/merchant_logos/9f967c91-7cf5-46a4-bc0b-92541a4ea7da/v1/pactcoffee.jpeg",
             "amount": {
              "value": "10.99",
              "currency": "GBP"
             },
             "date_time": "2022-05-28T10:00:00Z",
             "value_date_time": "2022-05-29T00:00:00Z",
             "merchant_category_code": "5814",
             "enrichments": {
              "categories": {
               "l1": {
                "slug": "eating_out",
                "confidence": "0.99"
               },
               "l2": {
                "slug": "cafes_and_eating_out",
                "confidence": "0.98"
               }
              },
              "merchant": {
               "id": "9f967c91-7cf5-46a4-bc0b-92541a4ea7da",
               "slug": "pactcoffee",
               "display_name": "Pact Coffee",
               "logo": "https://assets.thisisbud.com/datasci-images/merchant_logos/9f967c91-7cf5-46a4-bc0b-92541a4ea7da/v1/pactcoffee.jpeg",
               "website": "https://www.pactcoffee.com"
              },
              "location": {
               "address": {
                "address_lines": [
                 "180",
                 "Shepherds Bush Rd",
                 "London",
                 "W6 7NL",
                 "United Kingdom"
                ],
                "street_address": "Shepherds Bush Rd",
                "city": "London",
                "postal_code": "W6 7NL",
                "country": "United Kingdom"
               },
               "geolocation": {
                "longitude": -0.223766,
                "latitude": 51.497678
               }
              },
              "processor": {
               "id": "18f63293-0217-4520-bbf0-071dca7a9d04",
               "slug": "paypal",
               "display_name": "PayPal",
               "logo": "http://url/paypal_logo.jpeg",
               "tokens": [
                {
                 "value": "paypal",
                 "confidence": "0.92"
                }
               ],
               "website": "https://www.paypal.com"
              },
              "regularity": {
               "frequency": "monthly",
               "predicted_date_times": [
                "2022-06-28T15:00:00Z",
                "2022-07-28T15:00:00Z",
                "2022-08-28T15:00:00Z"
               ],
               "group_label": "a_group_id"
              },
              "corrections": {
               "applied_rule_ids": [
                "f7b27dc2-fd30-4dd4-9f50-1d1713733811"
               ]
              },
              "transaction_types": [
               "card",
               "debit"
              ],
              "names": [
               "jane doe"
              ]
             },
             "tags": [
              "regular-transaction"
             ]
            }
           ],
           "metadata": {
            "effected_transactions_count": 1,
            "include_similar": false,
            "merchant_id": "9f967c91-7cf5-46a4-bc0b-92541a4ea7da",
            "transactions": [
             "7affc586-5600-4434-ac5f-1a845260d7d9"
            ]
           }
          }
         },
         "Single Transaction Correction Include Similar": {
          "value": {
           "operation_id": "corrections_v2_merchants_post",
           "data": [
            {
             "transaction_id": "7affc586-5600-4434-ac5f-1a845260d7d9",
             "account_id": "5bd9ecaf31fc2d5172fd89cb61b89fc6",
             "provider": "BankOfBud",
             "description": "paypal* specialty coffee",
             "credit_debit_indicator": "debit",
             "status": "booked",
             "suggested_description": "Pact Coffee",
             "suggested_logo": "https://assets.thisisbud.com/datasci-images/merchant_logos/9f967c91-7cf5-46a4-bc0b-92541a4ea7da/v1/pactcoffee.jpeg",
             "amount": {
              "value": "10.99",
              "currency": "GBP"
             },
             "date_time": "2022-05-28T10:00:00Z",
             "value_date_time": "2022-05-29T00:00:00Z",
             "merchant_category_code": "5814",
             "enrichments": {
              "categories": {
               "l1": {
                "slug": "eating_out",
                "confidence": "0.99"
               },
               "l2": {
                "slug": "cafes_and_eating_out",
                "confidence": "0.98"
               }
              },
              "merchant": {
               "id": "9f967c91-7cf5-46a4-bc0b-92541a4ea7da",
               "slug": "pactcoffee",
               "display_name": "Pact Coffee",
               "logo": "https://assets.thisisbud.com/datasci-images/merchant_logos/9f967c91-7cf5-46a4-bc0b-92541a4ea7da/v1/pactcoffee.jpeg",
               "website": "https://www.pactcoffee.com"
              },
              "location": {
               "address": {
                "address_lines": [
                 "180",
                 "Shepherds Bush Rd",
                 "London",
                 "W6 7NL",
                 "United Kingdom"
                ],
                "street_address": "Shepherds Bush Rd",
                "city": "London",
                "postal_code": "W6 7NL",
                "country": "United Kingdom"
               },
               "geolocation": {
                "longitude": -0.223766,
                "latitude": 51.497678
               }
              },
              "processor": {
               "id": "18f63293-0217-4520-bbf0-071dca7a9d04",
               "slug": "paypal",
               "display_name": "PayPal",
               "logo": "http://url/paypal_logo.jpeg",
               "tokens": [
                {
                 "value": "paypal",
                 "confidence": "0.92"
                }
               ],
               "website": "https://www.paypal.com"
              },
              "regularity": {
               "frequency": "monthly",
               "predicted_date_times": [
                "2022-06-28T15:00:00Z",
                "2022-07-28T15:00:00Z",
                "2022-08-28T15:00:00Z"
               ],
               "group_label": "a_group_id"
              },
              "corrections": {
               "applied_rule_ids": [
                "f7b27dc2-fd30-4dd4-9f50-1d1713733811"
               ]
              },
              "transaction_types": [
               "card",
               "debit"
              ],
              "names": [
               "jane doe"
              ]
             },
             "tags": [
              "regular-transaction"
             ]
            },
            {
             "transaction_id": "similar_transaction_id",
             "account_id": "37c633a71237b9a8282e09587109668e",
             "provider": "BankOfBud",
             "description": "specialty coffee",
             "credit_debit_indicator": "debit",
             "status": "booked",
             "suggested_description": "specialty coffee",
             "amount": {
              "value": "50.23",
              "currency": "GBP"
             },
             "date_time": "2022-05-26T10:00:00Z",
             "value_date_time": "2022-05-27T00:00:00Z",
             "merchant_category_code": "5411",
             "enrichments": {
              "categories": {
               "l1": {
                "slug": "eating_out",
                "confidence": "0.99"
               },
               "l2": {
                "slug": "cafes_and_eating_out",
                "confidence": "0.98"
               }
              },
              "merchant": {
               "id": "9f967c91-7cf5-46a4-bc0b-92541a4ea7da",
               "slug": "pactcoffee",
               "display_name": "Pact Coffee",
               "logo": "https://assets.thisisbud.com/datasci-images/merchant_logos/9f967c91-7cf5-46a4-bc0b-92541a4ea7da/v1/pactcoffee.jpeg",
               "website": "https://www.pactcoffee.com"
              },
              "location": {
               "address": {
                "address_lines": [
                 "180",
                 "Shepherds Bush Rd",
                 "London",
                 "W6 7NL",
                 "United Kingdom"
                ],
                "street_address": "Shepherds Bush Rd",
                "city": "London",
                "postal_code": "W6 7NL",
                "country": "United Kingdom"
               },
               "geolocation": {
                "longitude": -0.223766,
                "latitude": 51.497678
               }
              },
              "transaction_types": [
               "card",
               "debit"
              ]
             }
            }
           ],
           "metadata": {
            "effected_transactions_count": 2,
            "include_similar": true,
            "merchant_id": "9f967c91-7cf5-46a4-bc0b-92541a4ea7da",
            "transactions": [
             "7affc586-5600-4434-ac5f-1a845260d7d9"
            ]
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "The request contains an invalid payload.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/paths/~1financial~1v3~1accounts/get/responses/400/content/application~1json/schema"
        },
        "examples": {
         "Invalid Merchant": {
          "summary": "merchant_id doesn't match a known merchant",
          "value": {
           "operation_id": "corrections_v2_merchants_post",
           "code_id": "failed_validation",
           "message": "invalid merchant in request",
           "errors": {
            "body.merchant_id": "invalid merchant id"
           }
          }
         },
         "Invalid Transaction": {
          "summary": "1 or more transaction ids are invalid",
          "value": {
           "operation_id": "corrections_v2_merchants_post",
           "code_id": "failed_validation",
           "message": "invalid transaction in request",
           "errors": {}
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorised request"
     },
     "405": {
      "description": "An unexpected HTTP method was used"
     },
     "5XX": {
      "description": "An unexpected error occurred on the server side"
     }
    }
   }
  },
  "/corrections/v2/categories/similar/{transaction_id}": {
   "get": {
    "tags": [
     "Correct Financial Data"
    ],
    "summary": "Similar Transactions",
    "description": "This endpoint is used to find similar transactions to the *source* transaction. Similar transactions are  determined based on transactions with similar descriptions & amounts to the source transaction.\n\nThere will **not** be any duplicate transactions in the response. \n\nUse the `exclude_source` query parameter to toggle whether the endpoint returns the source transaction in the response. By **default** it will.\n\nFor example if there are **no** similar transactions to transaction A:\n\n> `exclude_source = true`\n>> The response will contain **0** transactions\n\n> `exclude_source = false` or not present (**default**)\n>> The response will contain **1** transaction, that being the source transaction A",
    "operationId": "corrections_v2_similar_categories_get",
    "security": [
     {
      "OAuth2": []
     }
    ],
    "parameters": [
     {
      "$ref": "#/paths/~1financial~1v3~1accounts/get/parameters/0"
     },
     {
      "$ref": "#/paths/~1financial~1v3~1accounts/get/parameters/1"
     },
     {
      "$ref": "#/paths/~1financial~1v3~1accounts/get/parameters/2"
     },
     {
      "$ref": "#/paths/~1financial~1v3~1accounts/get/parameters/3"
     },
     {
      "$ref": "#/paths/~1corrections~1v2~1merchants~1similar~1{transaction_id}/get/parameters/4"
     },
     {
      "$ref": "#/paths/~1corrections~1v2~1merchants~1similar~1{transaction_id}/get/parameters/5"
     }
    ],
    "responses": {
     "200": {
      "description": "The request was successfully processed.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/SimilarTransactionsResponse"
        },
        "examples": {
         "Single Similar Transaction": {
          "value": {
           "operation_id": "corrections_v2_similar_categories_get",
           "data": [
            {
             "transaction_id": "source_transaction_id",
             "account_id": "5bd9ecaf31fc2d5172fd89cb61b89fc6",
             "provider": "BankOfBud",
             "description": "paypal* specialty coffee",
             "credit_debit_indicator": "debit",
             "status": "booked",
             "suggested_description": "Pact Coffee",
             "suggested_logo": "https://assets.thisisbud.com/datasci-images/merchant_logos/9f967c91-7cf5-46a4-bc0b-92541a4ea7da/v1/pactcoffee.jpeg",
             "amount": {
              "value": "10.99",
              "currency": "GBP"
             },
             "date_time": "2022-05-28T10:00:00Z",
             "value_date_time": "2022-05-29T00:00:00Z",
             "merchant_category_code": "5814",
             "enrichments": {
              "categories": {
               "l1": {
                "slug": "eating_out",
                "confidence": "0.99"
               },
               "l2": {
                "slug": "cafes_and_eating_out",
                "confidence": "0.98"
               }
              },
              "merchant": {
               "id": "01cc2d49-6144-46f1-9414-67c99b139a95",
               "slug": "specialty_coffee",
               "display_name": "Specialty Coffee Supplier Ltd.",
               "logo": "http://url/specialty_coffee_supplier_logo.jpeg",
               "tokens": [
                {
                 "value": "speciality coffee",
                 "confidence": "0.98"
                }
               ],
               "website": "http://www.url.com"
              },
              "location": {
               "address": {
                "address_lines": [
                 "180",
                 "Shepherds Bush Rd",
                 "London",
                 "W6 7NL",
                 "United Kingdom"
                ],
                "street_address": "Shepherds Bush Rd",
                "city": "London",
                "postal_code": "W6 7NL",
                "country": "United Kingdom"
               },
               "geolocation": {
                "longitude": -0.223766,
                "latitude": 51.497678
               }
              },
              "processor": {
               "id": "18f63293-0217-4520-bbf0-071dca7a9d04",
               "slug": "paypal",
               "display_name": "PayPal",
               "logo": "http://url/paypal_logo.jpeg",
               "tokens": [
                {
                 "value": "paypal",
                 "confidence": "0.92"
                }
               ],
               "website": "https://www.paypal.com"
              },
              "regularity": {
               "frequency": "monthly",
               "predicted_date_times": [
                "2022-06-28T15:00:00Z",
                "2022-07-28T15:00:00Z",
                "2022-08-28T15:00:00Z"
               ],
               "group_label": "a_group_id"
              },
              "corrections": {
               "applied_rule_ids": [
                "f7b27dc2-fd30-4dd4-9f50-1d1713733811"
               ]
              },
              "transaction_types": [
               "card",
               "debit"
              ],
              "names": [
               "jane doe"
              ]
             },
             "tags": [
              "regular-transaction"
             ]
            },
            {
             "transaction_id": "similar_transaction_id",
             "account_id": "37c633a71237b9a8282e09587109668e",
             "provider": "BankOfBud",
             "description": "Tesco 2956 London GBR",
             "credit_debit_indicator": "debit",
             "status": "booked",
             "suggested_description": "Tesco",
             "suggested_logo": "https://assets.thisisbud.com/datasci-images/merchant_logos/17ac2742-8c93-4c11-a01f-17ad65b950ce/v2/tesco.jpeg",
             "amount": {
              "value": "50.23",
              "currency": "GBP"
             },
             "date_time": "2022-05-26T10:00:00Z",
             "value_date_time": "2022-05-27T00:00:00Z",
             "merchant_category_code": "5411",
             "enrichments": {
              "categories": {
               "l1": {
                "slug": "eating_out",
                "confidence": "0.99"
               },
               "l2": {
                "slug": "cafes_and_eating_out",
                "confidence": "0.98"
               }
              },
              "merchant": {
               "id": "0980cf54-6052-4527-84ff-e6f9b169884f",
               "slug": "tesco_stores",
               "display_name": "Tesco",
               "logo": "http://url/tesco_stores_logo.jpeg",
               "tokens": [
                {
                 "value": "tesco",
                 "confidence": "0.96"
                }
               ]
              },
              "location": {
               "address": {
                "address_lines": [
                 "180",
                 "Shepherds Bush Rd",
                 "London",
                 "W6 7NL",
                 "United Kingdom"
                ],
                "street_address": "Shepherds Bush Rd",
                "city": "London",
                "postal_code": "W6 7NL",
                "country": "United Kingdom"
               },
               "geolocation": {
                "longitude": -0.223766,
                "latitude": 51.497678
               }
              },
              "transaction_types": [
               "card",
               "debit"
              ]
             }
            }
           ],
           "metadata": {
            "results": 2,
            "exclude_source": false
           }
          }
         },
         "Single Similar Transaction Excluding Source": {
          "value": {
           "operation_id": "corrections_v2_similar_categories_get",
           "data": [
            {
             "transaction_id": "similar_transaction_id",
             "account_id": "37c633a71237b9a8282e09587109668e",
             "provider": "BankOfBud",
             "description": "Tesco 2956 London GBR",
             "credit_debit_indicator": "debit",
             "status": "booked",
             "suggested_description": "Tesco",
             "suggested_logo": "https://assets.thisisbud.com/datasci-images/merchant_logos/17ac2742-8c93-4c11-a01f-17ad65b950ce/v2/tesco.jpeg",
             "amount": {
              "value": "50.23",
              "currency": "GBP"
             },
             "date_time": "2022-05-26T10:00:00Z",
             "value_date_time": "2022-05-27T00:00:00Z",
             "merchant_category_code": "5411",
             "enrichments": {
              "categories": {
               "l1": {
                "slug": "eating_out",
                "confidence": "0.99"
               },
               "l2": {
                "slug": "cafes_and_eating_out",
                "confidence": "0.98"
               }
              },
              "merchant": {
               "id": "0980cf54-6052-4527-84ff-e6f9b169884f",
               "slug": "tesco_stores",
               "display_name": "Tesco",
               "logo": "http://url/tesco_stores_logo.jpeg",
               "tokens": [
                {
                 "value": "tesco",
                 "confidence": "0.96"
                }
               ]
              },
              "location": {
               "address": {
                "address_lines": [
                 "180",
                 "Shepherds Bush Rd",
                 "London",
                 "W6 7NL",
                 "United Kingdom"
                ],
                "street_address": "Shepherds Bush Rd",
                "city": "London",
                "postal_code": "W6 7NL",
                "country": "United Kingdom"
               },
               "geolocation": {
                "longitude": -0.223766,
                "latitude": 51.497678
               }
              },
              "transaction_types": [
               "card",
               "debit"
              ]
             }
            }
           ],
           "metadata": {
            "results": 1,
            "exclude_source": true
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "The request contains an invalid payload.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/paths/~1financial~1v3~1accounts/get/responses/400/content/application~1json/schema"
        },
        "examples": {
         "Missing Customer Id": {
          "value": {
           "operation_id": "corrections_v2_similar_categories_get",
           "code_id": "failed_validation",
           "message": "failed to parse request",
           "errors": {
            "X-Customer-Id": "This value should not be blank"
           }
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Unknown transaction",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/paths/~1corrections~1v3~1rules~1{rule_id}/get/responses/404/content/application~1json/schema"
        },
        "examples": {
         "Transaction Not Found": {
          "value": {
           "operation_id": "corrections_v2_similar_categories_get",
           "code_id": "not_found",
           "message": "transaction not found"
          }
         }
        }
       }
      }
     },
     "5XX": {
      "description": "An unexpected error occurred on the server side."
     }
    }
   }
  },
  "/corrections/v2/merchants/similar/{transaction_id}": {
   "get": {
    "tags": [
     "Correct Financial Data"
    ],
    "summary": "Similar Transactions Including Merchants",
    "description": "This endpoint is used to find similar transactions to the *source* transaction. Similar transactions are  determined based on transactions with similar descriptions & amounts to the source transaction. In addition, transactions that also have the same merchant are returned. \n\nThere will **not** be any duplicate transactions in the response. \n\nUse the `exclude_source` query parameter to toggle whether the endpoint returns the source transaction in the response. By **default** it will.\n\nFor example if there are **no** similar transactions to transaction A:\n\n> `exclude_source = true`\n>> The response will contain **0** transactions\n\n> `exclude_source = false` or not present (**default**)\n>> The response will contain **1** transaction, that being the source transaction A",
    "operationId": "corrections_v2_similar_merchants_get",
    "security": [
     {
      "OAuth2": []
     }
    ],
    "parameters": [
     {
      "$ref": "#/paths/~1financial~1v3~1accounts/get/parameters/0"
     },
     {
      "$ref": "#/paths/~1financial~1v3~1accounts/get/parameters/1"
     },
     {
      "$ref": "#/paths/~1financial~1v3~1accounts/get/parameters/2"
     },
     {
      "$ref": "#/paths/~1financial~1v3~1accounts/get/parameters/3"
     },
     {
      "in": "query",
      "name": "exclude_source",
      "schema": {
       "type": "boolean"
      },
      "required": false,
      "description": "Toggle whether the endpoint returns the transaction used as part of the request"
     },
     {
      "in": "path",
      "name": "transaction_id",
      "schema": {
       "type": "string",
       "format": "uuid"
      },
      "required": true,
      "description": "A transaction identifier"
     }
    ],
    "responses": {
     "200": {
      "description": "The request was successfully processed.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/SimilarTransactionsIncludingMerchantsResponse"
        },
        "examples": {
         "Single Similar Transaction": {
          "value": {
           "operation_id": "corrections_v2_similar_merchants_get",
           "data": [
            {
             "transaction_id": "source_transaction_id",
             "account_id": "5bd9ecaf31fc2d5172fd89cb61b89fc6",
             "provider": "BankOfBud",
             "description": "paypal* specialty coffee",
             "credit_debit_indicator": "debit",
             "status": "booked",
             "suggested_description": "Pact Coffee",
             "suggested_logo": "https://assets.thisisbud.com/datasci-images/merchant_logos/9f967c91-7cf5-46a4-bc0b-92541a4ea7da/v1/pactcoffee.jpeg",
             "amount": {
              "value": "10.99",
              "currency": "GBP"
             },
             "date_time": "2022-05-28T10:00:00Z",
             "value_date_time": "2022-05-29T00:00:00Z",
             "merchant_category_code": "5814",
             "enrichments": {
              "categories": {
               "l1": {
                "slug": "eating_out",
                "confidence": "0.99"
               },
               "l2": {
                "slug": "cafes_and_eating_out",
                "confidence": "0.98"
               }
              },
              "merchant": {
               "id": "01cc2d49-6144-46f1-9414-67c99b139a95",
               "slug": "specialty_coffee",
               "display_name": "Specialty Coffee Supplier Ltd.",
               "logo": "http://url/specialty_coffee_supplier_logo.jpeg",
               "tokens": [
                {
                 "value": "speciality coffee",
                 "confidence": "0.98"
                }
               ],
               "website": "http://www.url.com"
              },
              "location": {
               "address": {
                "address_lines": [
                 "180",
                 "Shepherds Bush Rd",
                 "London",
                 "W6 7NL",
                 "United Kingdom"
                ],
                "street_address": "Shepherds Bush Rd",
                "city": "London",
                "postal_code": "W6 7NL",
                "country": "United Kingdom"
               },
               "geolocation": {
                "longitude": -0.223766,
                "latitude": 51.497678
               }
              },
              "processor": {
               "id": "18f63293-0217-4520-bbf0-071dca7a9d04",
               "slug": "paypal",
               "display_name": "PayPal",
               "logo": "http://url/paypal_logo.jpeg",
               "tokens": [
                {
                 "value": "paypal",
                 "confidence": "0.92"
                }
               ],
               "website": "https://www.paypal.com"
              },
              "regularity": {
               "frequency": "monthly",
               "predicted_date_times": [
                "2022-06-28T15:00:00Z",
                "2022-07-28T15:00:00Z",
                "2022-08-28T15:00:00Z"
               ],
               "group_label": "a_group_id"
              },
              "corrections": {
               "applied_rule_ids": [
                "f7b27dc2-fd30-4dd4-9f50-1d1713733811"
               ]
              },
              "transaction_types": [
               "card",
               "debit"
              ],
              "names": [
               "jane doe"
              ]
             },
             "tags": [
              "regular-transaction"
             ]
            },
            {
             "transaction_id": "similar_transaction_id",
             "account_id": "37c633a71237b9a8282e09587109668e",
             "provider": "BankOfBud",
             "description": "Tesco 2956 London GBR",
             "credit_debit_indicator": "debit",
             "status": "booked",
             "suggested_description": "Tesco",
             "suggested_logo": "https://assets.thisisbud.com/datasci-images/merchant_logos/17ac2742-8c93-4c11-a01f-17ad65b950ce/v2/tesco.jpeg",
             "amount": {
              "value": "50.23",
              "currency": "GBP"
             },
             "date_time": "2022-05-26T10:00:00Z",
             "value_date_time": "2022-05-27T00:00:00Z",
             "merchant_category_code": "5411",
             "enrichments": {
              "categories": {
               "l1": {
                "slug": "eating_out",
                "confidence": "0.99"
               },
               "l2": {
                "slug": "cafes_and_eating_out",
                "confidence": "0.98"
               }
              },
              "merchant": {
               "id": "0980cf54-6052-4527-84ff-e6f9b169884f",
               "slug": "tesco_stores",
               "display_name": "Tesco",
               "logo": "http://url/tesco_stores_logo.jpeg",
               "tokens": [
                {
                 "value": "tesco",
                 "confidence": "0.96"
                }
               ]
              },
              "location": {
               "address": {
                "address_lines": [
                 "180",
                 "Shepherds Bush Rd",
                 "London",
                 "W6 7NL",
                 "United Kingdom"
                ],
                "street_address": "Shepherds Bush Rd",
                "city": "London",
                "postal_code": "W6 7NL",
                "country": "United Kingdom"
               },
               "geolocation": {
                "longitude": -0.223766,
                "latitude": 51.497678
               }
              },
              "transaction_types": [
               "card",
               "debit"
              ]
             }
            }
           ],
           "metadata": {
            "results": 2,
            "exclude_source": false
           }
          }
         },
         "Single Similar Transaction Excluding Source": {
          "value": {
           "operation_id": "corrections_v2_similar_merchants_get",
           "data": [
            {
             "transaction_id": "similar_transaction_id",
             "account_id": "37c633a71237b9a8282e09587109668e",
             "provider": "BankOfBud",
             "description": "Tesco 2956 London GBR",
             "credit_debit_indicator": "debit",
             "status": "booked",
             "suggested_description": "Tesco",
             "suggested_logo": "https://assets.thisisbud.com/datasci-images/merchant_logos/17ac2742-8c93-4c11-a01f-17ad65b950ce/v2/tesco.jpeg",
             "amount": {
              "value": "50.23",
              "currency": "GBP"
             },
             "date_time": "2022-05-26T10:00:00Z",
             "value_date_time": "2022-05-27T00:00:00Z",
             "merchant_category_code": "5411",
             "enrichments": {
              "categories": {
               "l1": {
                "slug": "eating_out",
                "confidence": "0.99"
               },
               "l2": {
                "slug": "cafes_and_eating_out",
                "confidence": "0.98"
               }
              },
              "merchant": {
               "id": "0980cf54-6052-4527-84ff-e6f9b169884f",
               "slug": "tesco_stores",
               "display_name": "Tesco",
               "logo": "http://url/tesco_stores_logo.jpeg",
               "tokens": [
                {
                 "value": "tesco",
                 "confidence": "0.96"
                }
               ]
              },
              "location": {
               "address": {
                "address_lines": [
                 "180",
                 "Shepherds Bush Rd",
                 "London",
                 "W6 7NL",
                 "United Kingdom"
                ],
                "street_address": "Shepherds Bush Rd",
                "city": "London",
                "postal_code": "W6 7NL",
                "country": "United Kingdom"
               },
               "geolocation": {
                "longitude": -0.223766,
                "latitude": 51.497678
               }
              },
              "transaction_types": [
               "card",
               "debit"
              ]
             }
            }
           ],
           "metadata": {
            "results": 1,
            "exclude_source": true
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "The request contains an invalid payload.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/paths/~1financial~1v3~1accounts/get/responses/400/content/application~1json/schema"
        },
        "examples": {
         "Missing Customer Id": {
          "value": {
           "operation_id": "corrections_v2_similar_merchants_get",
           "code_id": "failed_validation",
           "message": "failed to parse request",
           "errors": {
            "X-Customer-Id": "This value should not be blank"
           }
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Unknown transaction",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/paths/~1corrections~1v3~1rules~1{rule_id}/get/responses/404/content/application~1json/schema"
        },
        "examples": {
         "Transaction Not Found": {
          "value": {
           "operation_id": "corrections_v2_similar_merchants_get",
           "code_id": "not_found",
           "message": "transaction not found"
          }
         }
        }
       }
      }
     },
     "5XX": {
      "description": "An unexpected error occurred on the server side."
     }
    }
   }
  },
  "/corrections/v3/regularity/end": {
   "post": {
    "tags": [
     "Correct Financial Data"
    ],
    "summary": "End Transaction Regularity",
    "description": "Mark a given transaction as the end of a regular transaction. Bud will not detect similar transactions which succeed the given transaction as regular.\n",
    "operationId": "corrections_v3_regularity_end_post",
    "security": [
     {
      "OAuth2": []
     }
    ],
    "parameters": [
     {
      "$ref": "#/paths/~1financial~1v3~1accounts/get/parameters/0"
     },
     {
      "$ref": "#/paths/~1financial~1v3~1accounts/get/parameters/1"
     },
     {
      "$ref": "#/paths/~1financial~1v3~1accounts/get/parameters/2"
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "title": "V3 Regularity End Request",
        "type": "object",
        "description": "Expected request structure for the regularity end endpoint",
        "required": [
         "transaction_id"
        ],
        "properties": {
         "transaction_id": {
          "type": "string",
          "description": "The unique identifier of the last valid occurrence in the group. Any transactions in the group dated after this one become non-regular."
         }
        }
       },
       "example": {
        "transaction_id": "f7bcefff-248e-4485-9aed-3ed45462255e"
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "The request was successfully processed",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/paths/~1corrections~1v3~1similar/post/responses/201/content/application~1json/schema"
        },
        "example": {
         "operation_id": "corrections_v3_regularity_end_post",
         "data": {
          "rule_id": "f7b27dc2-fd30-4dd4-9f50-1d1713733811"
         }
        }
       }
      }
     },
     "400": {
      "description": "The request contains an invalid payload.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/paths/~1financial~1v3~1accounts/get/responses/400/content/application~1json/schema"
        },
        "example": {
         "operation_id": "corrections_v3_regularity_end_post",
         "code_id": "validation_error",
         "message": "Bad request payload",
         "errors": {
          "transaction_id": "This value should not be blank"
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorised request"
     },
     "405": {
      "description": "An unexpected HTTP method was used"
     },
     "5XX": {
      "description": "An unexpected error occurred on the server side"
     }
    }
   }
  },
  "/corrections/v3/similar": {
   "post": {
    "tags": [
     "Correct Financial Data"
    ],
    "summary": "Correct Transaction Similarity Grouping",
    "description": "Mark a given set of transaction IDs as similar to one-another, or to a given reference transaction ID.  This improve's Bud's ability to detect regular transactions, and expands the set of transactions that  are considered similar to one-another.\n\nThis endpoint can also be used to identify a set of transactions as not similar.\n",
    "operationId": "corrections_v3_similar_post",
    "security": [
     {
      "OAuth2": []
     }
    ],
    "parameters": [
     {
      "$ref": "#/paths/~1financial~1v3~1accounts/get/parameters/0"
     },
     {
      "$ref": "#/paths/~1financial~1v3~1accounts/get/parameters/1"
     },
     {
      "$ref": "#/paths/~1financial~1v3~1accounts/get/parameters/2"
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "title": "V3 Similarity Correction Request",
        "type": "object",
        "description": "Expected request structure for the similarity correction endpoint",
        "required": [
         "transaction_ids"
        ],
        "properties": {
         "transaction_ids": {
          "type": "array",
          "description": "The transactions the rule applies to",
          "items": {
           "type": "string"
          }
         },
         "similar": {
          "type": "boolean",
          "description": "Whether the specified transactions are similar to each other (or to `reference_transaction_id`, if supplied)",
          "default": false
         },
         "reference_transaction_id": {
          "type": "string",
          "description": "The transaction whose group the specified transactions should join or leave. If omitted, the rule applies to the group formed by `transaction_ids` themselves."
         }
        }
       },
       "examples": {
        "Form A New Group": {
         "value": {
          "similar": true,
          "transaction_ids": [
           "f7bcefff-248e-4485-9aed-3ed45462255e",
           "727b42bc-2e2e-4a8b-8f0e-6d0a6f5a9f1a",
           "46a5f30a-9b7f-4e2a-9f7d-2a3a5b6c7d8e"
          ]
         }
        },
        "Merge Into An Existing Group": {
         "value": {
          "similar": true,
          "transaction_ids": [
           "f7bcefff-248e-4485-9aed-3ed45462255e"
          ],
          "reference_transaction_id": "4004742b-1c2d-4e3f-9a8b-7c6d5e4f3a2b"
         }
        },
        "Remove From A Group": {
         "value": {
          "similar": false,
          "transaction_ids": [
           "f7bcefff-248e-4485-9aed-3ed45462255e"
          ]
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "The request was successfully processed",
      "content": {
       "application/json": {
        "schema": {
         "title": "V3 Create Correction Response",
         "type": "object",
         "description": "Expected response structure for the v3 correction endpoints",
         "required": [
          "operation_id",
          "data"
         ],
         "properties": {
          "operation_id": {
           "$ref": "#/paths/~1financial~1v3~1accounts/get/responses/400/content/application~1json/schema/properties/operation_id"
          },
          "data": {
           "type": "object",
           "required": [
            "rule_id"
           ],
           "properties": {
            "rule_id": {
             "type": "string",
             "description": "Unique identifier for the created correction rule"
            }
           }
          }
         }
        },
        "example": {
         "operation_id": "corrections_v3_similar_post",
         "data": {
          "rule_id": "f7b27dc2-fd30-4dd4-9f50-1d1713733811"
         }
        }
       }
      }
     },
     "400": {
      "description": "The request contains an invalid payload.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/paths/~1financial~1v3~1accounts/get/responses/400/content/application~1json/schema"
        },
        "example": {
         "operation_id": "corrections_v3_similar_post",
         "code_id": "validation_error",
         "message": "Bad request payload",
         "errors": {
          "transaction_ids": "This value should not be blank"
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorised request"
     },
     "405": {
      "description": "An unexpected HTTP method was used"
     },
     "5XX": {
      "description": "An unexpected error occurred on the server side"
     }
    }
   }
  },
  "/corrections/v3/regularity": {
   "post": {
    "tags": [
     "Correct Financial Data"
    ],
    "summary": "Correct Transaction Regularity",
    "description": "Correct, or remove, the regularity frequency of a transaction, and optionally all similar transactions.\n\nA frequency value of `\"unknown\"` removes the regularity of a transaction, and optionally all similar transactions.\n\nThe correction is stored as a rule and re-applied on every re-enrichment, so it follows the transaction even if its grouping changes, and future transactions that match will inherit it.\n",
    "operationId": "corrections_v3_regularity_post",
    "security": [
     {
      "OAuth2": []
     }
    ],
    "parameters": [
     {
      "$ref": "#/paths/~1financial~1v3~1accounts/get/parameters/0"
     },
     {
      "$ref": "#/paths/~1financial~1v3~1accounts/get/parameters/1"
     },
     {
      "$ref": "#/paths/~1financial~1v3~1accounts/get/parameters/2"
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "title": "V3 Regularity Correction Request",
        "type": "object",
        "description": "Expected request structure for the regularity correction endpoint",
        "required": [
         "transaction_id",
         "frequency"
        ],
        "properties": {
         "transaction_id": {
          "type": "string",
          "description": "The unique identifier for the transaction"
         },
         "frequency": {
          "type": "string",
          "description": "The frequency to assign. `unknown` marks the transaction (or group) as not regular.",
          "enum": [
           "unknown",
           "daily",
           "weekly",
           "biweekly",
           "monthly",
           "quarterly"
          ]
         },
         "include_similar": {
          "type": "boolean",
          "description": "Apply the correction to the whole group of transactions similar to the specified transaction, rather than just the transaction itself",
          "default": false
         }
        }
       },
       "example": {
        "transaction_id": "f7bcefff-248e-4485-9aed-3ed45462255e",
        "include_similar": true,
        "frequency": "biweekly"
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "The request was successfully processed",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/paths/~1corrections~1v3~1similar/post/responses/201/content/application~1json/schema"
        },
        "example": {
         "operation_id": "corrections_v3_regularity_post",
         "data": {
          "rule_id": "f7b27dc2-fd30-4dd4-9f50-1d1713733811"
         }
        }
       }
      }
     },
     "400": {
      "description": "The request contains an invalid payload.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/paths/~1financial~1v3~1accounts/get/responses/400/content/application~1json/schema"
        },
        "example": {
         "operation_id": "corrections_v3_regularity_post",
         "code_id": "validation_error",
         "message": "Bad request payload",
         "errors": {
          "transaction_id": "This value should not be blank"
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorised request"
     },
     "405": {
      "description": "An unexpected HTTP method was used"
     },
     "5XX": {
      "description": "An unexpected error occurred on the server side"
     }
    }
   }
  },
  "/financial/v2/accounts": {
   "get": {
    "deprecated": true,
    "tags": [
     "Retrieve Financial Data"
    ],
    "summary": "Retrieve Accounts V2",
    "description": "Retrieves a list of a customer's connected accounts. The result can be filtered using the parameters outlined below.\n\n> ❗️ Deprecation:\n>\n> Support will cease for this endpoint on the 1st of April 2025 - please complete your migration to the Retrieve Accounts V3 endpoint by that point in time. For further details, contact your Bud account manager or email help@thisisbud.com.\n",
    "operationId": "financial_v2_accounts",
    "security": [
     {
      "OAuth2": []
     }
    ],
    "parameters": [
     {
      "$ref": "#/paths/~1financial~1v3~1accounts/get/parameters/0"
     },
     {
      "$ref": "#/paths/~1financial~1v3~1accounts/get/parameters/1"
     },
     {
      "$ref": "#/paths/~1financial~1v3~1accounts/get/parameters/2"
     },
     {
      "$ref": "#/paths/~1financial~1v3~1accounts/get/parameters/3"
     },
     {
      "$ref": "#/paths/~1financial~1v3~1accounts/get/parameters/4"
     },
     {
      "$ref": "#/paths/~1financial~1v3~1accounts/get/parameters/5"
     },
     {
      "in": "query",
      "name": "account_type",
      "schema": {
       "type": "string"
      },
      "example": "current_account",
[...]
